.bg-login {
	background-image: url("../assets/login-background.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.middle-div{
    padding: 2% 7%;
    margin: 3% 30%;
    width: 600px;
    height: 418px;
    opacity: 0.88;
    border-radius: 30px;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    /* text-align: center;
    align-items: center; */
}
input[type=text]{
    border-style: none;
    margin-top: 40px;
}