.border-dotted {
	border-style: dashed !important;
}

.custom-rounded {
  border-radius: 15px;
}

.custom-rounded-right {
  border-radius: 0 15px 15px 0;
}

.hidden-scroll-x {
  overflow-x: hidden;
}

.hidden-scroll-y {
  overflow-y: hidden;
}