.custom-input-text {
    background-color: #f4f4f4;
    border: 0;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.clear-button {
    position: absolute;
    right: 3px;
    top: 1px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.rowadd{
    width:50px;
    text-align: center;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color: #f7f7f7;
}
/* Chrome, Safari, Edge, Opera */
.rowadd::-webkit-outer-spin-button,
.rowadd::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.rowadd[type=number] {
  -moz-appearance: textfield;
}

/* IMPORTANT NOTE
Need to learn how to set theme for select2 plugin */
/* .select2-container--default .select2-selection--single {
    background-color: #f4f4f4;
    border: 0;
    border-radius: 50rem !important;
} */
