.custom-input-text {
    background-color: #f4f4f4;
    border: 0;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.clear-button {
    position: absolute;
    right: 3px;
    top: 1px;
}

/* .select2-container--default .select2-selection--single {
    background-color: #f4f4f4;
    border: 0;
    border-radius: 50rem !important;
} */