*{
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
}
.custom-shadow {
	box-shadow: 1px 2px 4px #b9b9b9;
}

.ch-7 {
	height: 7px;
}

.fixed-width {
  width: 100px;
}
.fixed-height {
  height: 75%;
}
.fixed-top-bottom {
  top: 7em;
  bottom: 0;
}
.full-fixed-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.floating-div {
	position: absolute;
	right: 20px;
  bottom: 20px;
  pointer-events: all;
}

.left-item {
  cursor: pointer;
}
.left-item:hover {
  background: #F7F7F7;
}
.left-item.active {
  background-color: #F1F1F1;
}
.left-item.active::after {
  content: '';
  position: absolute;
  width: 5px;
  background: blue;
  left: 0;
  top: 0;
  height: 100%;
}

/* Colors */
.bg-gray {
  background-color: #ececec;
}